body{
    background-color: none transparent; height: 100%; margin: 0; padding: 0;
}
#chart-container {
    width: 425px; height: 225px; display: block; position:absolute; bottom:0; top:0; left:0; right:0; margin: 5px 15px 15px 0; overflow: hidden;
}

@media screen and (max-width:768px){
    #chart-container{width: 100%;}

}
@media screen and (max-width: 400px){
    #chart-container {width: 300px;}
}